@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@700&family=Pattaya&family=Righteous&display=swap");

:root {
  --f-pattaya: "Pattaya", sans-serif;
  --f-palanquin: "Palanquin", sans-serif;
  --f-righteous: "Righteous", cursive;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(".././img/Spicy Kale and Chipotle Chickpea and Roasted Butternut Squash Salad.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}
.glass {
  height: 100vh;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

/* -------first section-------------- */

.recipes {
  width: 33rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.glass-recipes {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.recipe-container {
  width: 30rem;
  height: 20rem;
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
}

.glass-recipe {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 2.5rem;
}

.info-card {
  width: 16rem;
}

.info-card .recipe-title {
  font-family: var(--f-pattaya);
  font-size: 2.4rem;
  margin: 1rem 1.6rem 0 1.6rem;
}
.recipe-score {
  margin: 0 1.6rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.recipe-score .score-number {
  font-family: var(--f-righteous);
  font-size: 1.2rem;
}

.stars {
  margin-left: 1rem;
}
.stars .star {
  width: 1rem;
}
.img-card {
  width: 14rem;
}
.img-card img {
  width: 14rem;
  height: 20rem;
}
.recipe-info {
  height: 7rem;
  margin-left: 2.5rem;
}

.recipe-info--item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.7rem;
}

.recipe-info .recipe-info--item .item-title {
  margin: 0 1rem;
  font-family: var(--f-palanquin);
}
/* -------second section-------------- */

.img-recipe img {
  height: 100vh;
  border-radius: 0 15rem 15rem 0;
}

/* third section */
.recipe-glass-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-recipe-text {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}
.recipe {
  border-radius: 20px;
  height: 60rem;
  width: 50rem;
}
.recipe .title-recipe{
    font-family: var(--f-pattaya);
    font-size: 3rem;
    text-align: center;
}

.ingredients, .preparation{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.ingredients .ingredients-title,.preparation-title{
    font-family: var(--f-righteous);
    font-size: 2rem;
}

.ingredients .ingredients-item, .preparation-paragraph{
    font-family: var(--f-palanquin);
    font-size: 1.2rem;
}

